<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="background-color: black;">
        <div class="card-hearder bg-info text-white">
          <h4>Github user serch</h4>
        </div>

        <div class="card-body">
          <form class="form-inline">
            <div class="form-group">
              <input width="40%" type="search" class="form-control" placeholder="Enter Github user" style="width: 60%; ">
            </div>

            <div>
              <input type="submit" value="submit" class="btn btn-success btn-sm">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
